extends layout

block content
  - var total=0;
    table.table(style="border: solid;border-width: 1px ")
      thead
        th Name
        th Price
        th(style="position:relative; left:28px") Operations
      tbody
        each item in cart
          - total += Number(item.price)
          tr
            td=item.name
            td=item.price
            td
              a.button.btn.btn-outline-dark.btn-rounded(href="/products/cart/remove/"+item._id,) Remove Item
      tfoot
        tr
          td(style="font-weight:700;font-size:18px-") Total
          td(style="font-weight:700 ;font-size:18px")=total 
